@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.td-none {
  color: unset;
  text-decoration: none;
}

.font-fraunces {
  font-family: "Fraunces";
  font-weight: 800;
}

.font-titillium {
  font-family: "Titillium Web";
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/hero.webp");
  background-size: cover;
  background-attachment: fixed;
}

#hero-img {
  transform: rotateZ(-30deg);
  filter: drop-shadow(0 0 20px black);
}

.nav-glass {
  background-color: transparent !important;
  backdrop-filter: blur(80px) brightness(0.6);
  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3) 20%
  );
  position: fixed;
  top: 0;
  height: 80px;
  box-shadow: 0 0px 20px black;
  z-index: 4;
}

.my-card {
  background-color: transparent !important;
  backdrop-filter: blur(20px);
  background-image: linear-gradient(120deg, #ffffff26, #00000026);
  width: 15rem;
  border-radius: 0 !important;
  box-shadow: 0 0 5px #000;
  will-change: transform;
}

.my-card:hover {
  box-shadow: 0 0 10px #000;
  transform: scale(1.01);
  z-index: 3;
}

.glass {
  background-color: transparent !important;
  backdrop-filter: blur(20px);
  background-image: linear-gradient(120deg, #ffffff26, #ffffff26);
}

#hero {
  height: calc(100vh - 80px);
  background-color: #fff;
  margin-top: 80px;
}

.bottom-link {
  will-change: transform;
}

.bottom-link:hover {
  /* color: black !important; */
  transform: scale(1.01);
}

#footer{
	background-image: linear-gradient(320deg, #324773 10%, #111827);
	height: 200px;
	perspective: ;
}